:root {
	--bg-color: #1A171C;
	--text-color: #FBF7CF;
    	--accent-color: #C8197A;
	--link-color: #717BC2;
	--hr-color: #2B2132;
}

html, body {
	height: 100%;
}

html {
	display: table;
	margin: auto;
	font-size: 125%;
}


body {
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: monospace;

	max-width: 600px;
	display: table-cell;
}

.eye {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	max-width: 100%;
	height: auto;
}

h1, h2 {
	color: var(--accent-color);
	font-weight: 800;
}

header {
	text-align: center;
}

a {
	color: var(--link-color);
	text-decoration: none;
	transition: 0.2s;
}

a:hover {
	text-decoration: underline;
	filter: brightness(1.2);
}


footer {
	margin-top: 2rem;
	text-align: center;
	color: #785397;
}

footer hr {
	border: 0;
	border-top: 1px solid #785397;
	margin-bottom: 1.5rem;
}

footer small {
	display: block;
	word-spacing: 5px;
}


footer a {
	margin: 0 5px;
	text-transform: uppercase;
	font-weight: bold;
}

.license {
  display: block;
  word-spacing: 0px;
  font-size: 0.5rem;
}

.license a {
  word-spacing: 0px;
  margin: 0;
}
